.container-tasks {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-evenly;
  overflow: scroll;
  height: 70vh;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: #343a40;
  border-radius: 10px;
}
